*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


/* Global */
a{
    text-decoration: none;
}
hr{
    margin-top: 10px;
}

.container{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
} 
.input-users{
    margin: 10px 0px;
}
.input-users input{
    margin-top: 5px;
}

#input-btn{
    margin-bottom: 10px;
}

#input-btn input{
    padding:0rem 1rem;
    width: 5rem;
}


/* Register */
#register{
    /*Box Decoration*/
    border: 1px solid #000;
    height: auto;
    margin-top:10px;
    padding: 1.5rem;
    text-align: center;
}


/* Login */
#login{
    /*Box Decoration*/
    border: 1px solid #000;
    height: auto;
    margin-top:10px;
    padding: 1.5rem;
    text-align: center;
}


/* To Do */
.dropdown{
    margin:10px 0px 0px 10px;
}
.table{
    margin-top: 10px;
    text-align: center;
}
#todo{
    margin-top:10px;
    padding: 1.5rem;
    text-align: center;
}

#showList{
    margin-top: 10px;
    width: auto;
}
